@import '/src/app/styles/global';

.app-input {
  @include default-font-styles;
  line-height: 20px;
  color: $grayColor;
  width: 100%;
  padding: 0;
  border: none;

  &_primary {
    outline-style: none;
    font-weight: 600;
    font-size: 14px;

    &::placeholder {
      font-weight: 400;
    }
  }

  &_size {
    &_auto {
      width: 100%;
      height: 100%;
    }
  }
}
