$maxWidth: 1340px;
$minWidth: 320px;

// slider & card
$cardWidth: 262px;
$cardHeight: 400px;
$sliderHeight: 164px;

$mainStyle: normal;
$mainWeight: 400;
$mainFontSize: 16px;

$whiteColor: #fff;
$blackColor: #000;
$blackDarkColor: #060606;
$darkColor: #23252e;
$grayColor: #7b7c82;
$grayLightColor: rgba(123, 124, 130, 0.2);
$redColor: #f76c6c;
$greenColor: #61e083;
$blueColor: #3da1ff;
$blueLightColor: #b5dbff;
$blueDarkColor: #116fc7;
$blueColorLine: #77adff;

$fontFamilyNunitoSans: 'NunitoSans', Arial, sans-serif; // Семейство шрифта по умолчанию
$fontFamilyUnbounded: 'Unbounded', Arial, sans-serif; // Семейство шрифта по умолчанию
$fontColor: $darkColor; // Цвет шрифта по умолчанию
$fontSize: $mainFontSize; // Размер шрифта по умолчанию
$fontWeight: $mainWeight; // Жирность шрифта по умолчанию
$fontStyle: $mainStyle; // Начертание шрифта по умолчанию

$linkFontColor: $darkColor; // Цвет ссылок
