@import './_vars.scss';

//@mixin flex-container($direction: row, $justify: flex-start, $align: stretch) {
@mixin flex-container($direction: false, $justify: false, $align: false) {
  display: flex;

  @if $direction {
    flex-direction: $direction;
  }
  @if $justify {
    justify-content: $justify;
  }
  @if $align {
    align-items: $align;
  }
}

// Миксин для создания flex-элемента
@mixin flex-item($flex: 1, $order: 0) {
  flex: $flex;
  order: $order;
}

@mixin flex-column {
  @include flex-container(column);
}

@mixin center-both {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-space-between {
  @include flex-container(row, space-between);
}

@mixin reset {
  margin: 0;
  padding: 0;
}

@mixin reset-list {
  @include reset;
  list-style: none;
}

@mixin reset-link {
  text-decoration: none;
  color: $blackColor;
}

@mixin reset-button {
  @include reset;
  background: transparent;
  border: none;
  cursor: pointer;
}

@mixin max-min-width {
  max-width: $maxWidth;
  min-width: $minWidth;
}

@mixin box-container {
  @include max-min-width;
  box-sizing: border-box;
  padding: 0px 20px;
}

@mixin border-radius {
  box-sizing: border-box;
  border: 1px solid $grayLightColor;
  border-radius: 20px;
}
