@import '/src/app/styles/global';

.menu-orders {
  display: flex;
  column-gap: 60px;
  list-style: none;
  margin: 0;
  padding: 0;

  &__link {
    @include text-L-bold-styles;
    @include reset-link;

    &_active {
      text-decoration: underline;
    }
  }
}
