@import '/src/app/styles/global';

.drop-down {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  @include default-font-styles;
  font-weight: 600;

  &__label {
    max-width: 200px;
    font-size: 20px;
    line-height: 28px;
  }

  &__select {
    @include flex-container(column);

    width: 100%;
    font-size: 16px;
    line-height: 24px;
    position: relative;
  }

  &__header {
    @include flex-container(row, space-between);
    box-sizing: border-box;
    align-items: center;
    border: 1px solid $blackColor;
    border-radius: 10px;
    cursor: pointer;

    width: 100%;
    height: 52px;
    padding: 0 10px 0 20px;
  }

  &__current {
    color: $grayColor;
  }

  &__body {
    background: $whiteColor;
    border: 1px solid $blackColor;
    border-radius: 10px;
    position: absolute;
    top: 100%; /* Располагаем меню под заголовком */
    left: 0;
    width: 100%;
    z-index: 1;
    overflow: hidden;
    transition: max-height 0.4s ease;
    max-height: 0;
  }

  &__select.is-active .drop-down__body {
    display: block;
    max-height: 200px;
    overflow: auto; /* прокрутка, если меню слишком длинное */
  }

  &__icon {
    transform: rotate(180deg);
  }

  &__item {
    cursor: pointer;
    padding: 8px 20px;
    transition: background-color 0.3s ease;

    &:hover {
      color: $blueColor;
    }

    &.active {
      background-color: $blueColor;
      color: white;
    }
  }

  .small &__select {
    width: 179px;
    height: 48px;
  }

  .small &__header {
    border-radius: 20px;
  }

  .medium &__select {
    width: 200px;
    height: 44px;
  }

  .medium &__header {
    border-radius: 20px;
    padding: 0 20px;
  }

  .medium &__body {
    border: 1px solid rgba(123, 124, 130, 0.2);
    border-radius: 20px;
  }
}
