@import '/src/app/styles/global';

%flex {
  @include flex-container;
}

%flex-col {
  @include flex-container(column);
}

%typography-main {
  @include text-M-main-styles();
}

.order-details-page {
  @extend %flex-col;
  @include text-L-main-styles;
  row-gap: 60px;
  width: 100%;

  &__header {
    @include flex-container(row, space-between);
  }

  &__header-container {
    @extend %flex;
    column-gap: 20px;
  }

  &__order-info {
    @extend %flex-col;
    row-gap: 8px;
  }

  &__order-info-date-number {
    @extend %flex;
    column-gap: 10px;
  }

  &__order-info-supplier {
    @extend %typography-main;
  }

  &__order-info-date {
    color: $grayColor;
  }

  &__repeat-order {
    @extend %typography-main;
    color: $blueDarkColor;
  }

  &__products-container {
  }

  &__products-title {
    @include text-L-bold-styles();
    @include reset;
  }
}
