.account-field {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 30px;

  &__label {
    width: 610px;
    display: flex;
    justify-content: space-between;

    font-size: 24px;
    font-style: $mainStyle;
    font-weight: 500;
    line-height: normal;
  }

  &__input {
    width: 242px;
    font-size: 20px;
    font-style: $mainStyle;
    font-weight: $mainWeight;
    line-height: normal;
    border: none;
    padding: 0;
  }
}
