.container {
  max-width: 1321px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;

  &__title {
    margin: 0 0 40px;
    padding: 0;
    color: $darkColor;
    font-family: $fontFamily;
    font-size: 30px;
    font-style: $mainStyle;
    font-weight: 500;
    line-height: normal;
  }

  &__cards {
    max-width: 1320px;
    margin: 0 auto 20px;
    display: flex;

    gap: 20px;
  }
}
