.cards-container {
  max-width: 1320px;
  width: 100%;
  //margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    width: 100%;
    margin: 0 0 40px;
    padding: 0;
    color: $darkColor;
    font-family: $fontFamily;
    font-size: 30px;
    font-style: $mainStyle;
    font-weight: 500;
    line-height: normal;
  }

  &__cards {
    max-width: 1320px;
    margin: 0 auto 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));

    grid-gap: 20px;
  }
}
