.checkbox {
  font-family: $fontFamilyNunitoSans;
  font-style: $fontStyle;
  font-weight: $fontWeight;
  color: $fontColor;
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;

  /* для элемента input c type="checkbox" */
  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  &__checkbox {
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    z-index: -1;

    &_active {
      border-color: #000;
      background-color: #000000;
      //width: 10px;
      //height: 10px;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    }
  }
}
