.catalog {
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: $fontFamilyNunitoSans;
  font-style: $fontStyle;
  position: relative;

  &__navigation {
    display: flex;
    max-width: 826px;
    height: 30px;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    &-link {
      max-width: 262px;
      height: 32px;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 4px;
    color: $blackColor;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
  }
}
