@import '../../../../styles/global';

.order-detail-content-order-page {
  @include default-font-style;

  display: flex;
  flex-direction: column;
  row-gap: 16px;

  &__container {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
  }

  &__name-price {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
  }

  &__name {
  }

  &__price {
  }

  &__description {
  }
}
