@import '/src/app/styles/global';

.product-card-horizontal {
  @include default-font-styles;
  @include flex-container;
  column-gap: 24px;
  @include border-radius;
  padding: 20px;
  width: 100%;
  max-height: 172px;
  position: relative;

  &__checkbox {
    @include flex-container(row, center, center);
    align-self: center;
    max-width: 24px;
    width: 100%;
  }

  &__container {
    @include flex-container(row, space-between);
    column-gap: 24px;
    width: 100%;
  }

  &__image {
    width: 104px;
    height: 108px;
  }

  &__image {
    width: 104px;
    height: 108px;
  }

  &__figcaption {
    @include flex-container(column, center, center);
    row-gap: 4px;
  }

  &__details {
    @include flex-container(row, space-between);
    column-gap: 16px;
  }

  &__product-description {
    @include flex-container(column, center);
    row-gap: 4px;
    width: 100%;
    max-width: 210px;
  }

  &__product-title {
    @include text-S-bold-styles;
    @include text-overflow-eclipse;
    @include text-number-rows-show(2);

    margin: 0;
    max-height: 40px;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__product-company {
    @include text-S-bold-styles;
    @include text-overflow-eclipse;
    color: $grayColor;
    margin: 0;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__characteristics {
    @include flex-container(column);
    justify-content: center;
    row-gap: 4px;
  }

  &__characteristic {
    @include flex-container;
    column-gap: 20px;
    font-size: 20px;

    &_color {
      column-gap: 40px;
    }
  }

  &__product-actions {
    @include flex-container(row, space-between);
    align-items: center;
    row-gap: 16px;
    column-gap: 20px;
    max-width: 468px;
    width: 100%;

    &_order-form {
      max-width: 276px;
    }
  }

  &__product-count {
    width: 100%;
  }

  &__buttons {
    @include flex-container;
    column-gap: 20px;
    justify-content: flex-end;
  }

  &__button {
    @include reset-button;
    @include link-hover-styles;
  }

  &__icon-button {
    width: 32px;
    height: 32px;
    @include link-hover-styles;
  }

  &__sold-out {
    @include text-M-bold-styles($redColor);
    width: 100%;
    text-align: right;
  }

  //&__price-quantity {
  //  @include flex-container(row, space-between);
  //  align-items: center;
  //  column-gap: 138px;
  //  max-width: 400px;
  //  min-width: 220px;
  //  width: 100%;
  //}

  &__product-quantity {
    @include text-L-main-styles;
  }

  &__product-prices {
    @include flex-container(column, center, flex-end);
    min-width: max-content;
    row-gap: 8px;
    //width: 189px;
  }

  &__product-price {
    @include h3-styles;
  }

  &__product-price-per-one {
    @include text-M-main-styles;
    color: $grayColor;
    line-height: 24px;
  }
}
