@import '../../../styles/global';

.product-card-horizontal {
  @include default-font-styles;
  @include flex-container;
  column-gap: 24px;
  @include border-radius;
  padding: 20px;
  width: 100%;
  max-height: 172px;

  &__checkbox {
    @include center-both;
    align-self: center;
  }

  &__container {
    @include flex-space-between;
    column-gap: 24px;
    width: 100%;
  }

  &__image {
    display: block;
    @include border-radius;
    object-fit: cover;
    object-position: center;
    width: 104px;
    height: 108px;
  }

  &__figcaption {
    @include flex-column;
    @include center-both;
    row-gap: 4px;
  }

  &__details {
    @include flex-space-between;
    column-gap: 16px;

    //max-width: 330px;
    //min-width: 260px;
  }

  &__product-description {
    @include flex-container(column, center);
    row-gap: 4px;
    width: 100%;
    max-width: 210px;
    //white-space: nowrap;
  }

  &__product-title {
    @include text-S-bold-styles;
    @include text-overflow-eclipse;
    @include text-number-rows-show(2);

    margin: 0;
    max-height: 40px;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__product-company {
    @include text-S-bold-styles;
    @include text-overflow-eclipse;
    color: $grayColor;
    margin: 0;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__characteristics {
    @include flex-column;
    justify-content: center;
    row-gap: 4px;
  }

  &__characteristic {
    @include flex-container;
    column-gap: 20px;
    font-size: 20px;

    &_color {
      column-gap: 40px;
    }
  }

  &__product-actions {
    @include flex-space-between;
    align-items: center;
    row-gap: 16px;
    column-gap: 20px;
    max-width: 468px;
    width: 100%;
    &_order-form {
      max-width: 276px;
    }
  }

  &__buttons {
    @include flex-container;
    column-gap: 20px;
    justify-content: end;
  }

  &__button {
    @include reset-button;
    @include link-hover-styles;
  }

  &__icon-button {
    width: 32px;
    height: 32px;
    @include link-hover-styles;
  }

  //&__price-quantity {
  //  @include flex-space-between;
  //  align-items: center;
  //  column-gap: 138px;
  //  max-width: 400px;
  //  min-width: 220px;
  //  width: 100%;
  //}

  &__product-quantity {
    @include text-L-main-styles;
  }

  &__product-prices {
    @include flex-container(column, center, end);
    min-width: max-content;
    //@include flex-column;
    //@include center-both;
    row-gap: 8px;
    //width: 189px;
  }

  &__product-price {
    @include h3-styles;
  }

  &__product-price-per-one {
    @include text-M-main-styles;
    color: $grayColor;
    line-height: 24px;
  }
}
