.product-page {
  display: flex;
  flex-direction: column;
  font-family: $fontFamily;
  color: $darkColor;
  font-style: normal;
  gap: 60px;

  &__top {
    display: flex;
    flex-direction: row;
    gap: 60px;
  }

  &__images {
    display: flex;
    flex-direction: row;
    gap: 20px;
    &-column {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }

  &__image {
    width: 203px;
    height: 132px;
    border-radius: 20px;
    border: 1px solid $darkColor;
    box-sizing: border-box;
  }

  &__main-image {
    width: 539px;
    height: 588px;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid $darkColor;
    box-sizing: border-box;
  }

  &__info {
    max-width: 498px;
    width: 100%;
    position: relative;
  }

  &__title {
    font-weight: 500;
    line-height: normal;
    font-size: 28px;
    margin: 0;
    &-line {
      margin: 0 0 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__shipper {
    margin: 0 0 40px;
    text-decoration: underline;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px; /* 133.333% */
  }

  &__code {
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 18px;
  }

  &__status {
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    &-line {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
    }
  }

  &__subtitle {
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    margin: 0;
  }
  &__size-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 17px;
    gap: 40px;
  }

  &__color-line {
    margin: 0 0 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
  }

  &__quantity-line {
    margin: 0 0 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
  }

  &__price {
    font-size: 32px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
  }
  &__buttons-line {
    display: flex;
    flex-direction: row;
    gap: 56px;
    bottom: 0;
    align-items: center;
    position: absolute;
    bottom: 0;
  }

  &__icons {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  &__navigation {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 50px;
    margin: 0 0 20px;
    padding: 0;
    &-item {
      cursor: pointer;
      font-size: 24px;
      font-weight: 400;
      line-height: normal;
      &_checked {
        border-bottom: solid 2px $darkColor;
      }
    }
  }

  &__description {
    max-width: 1208px;
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
  }
}
