.counter {
  display: flex;
  align-items: center;

  &__button {
    width: 15px;
    height: 15px;
    border: none;
    padding: 0;
    background: $whiteColor;
  }

  &__count-conteiner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 111px;
    height: 65px;
    margin: 0 5px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid #000;
    color: #686868;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__icon-left {
    transform: rotate(90deg);
  }

  &__icon-right {
    transform: rotate(-90deg);
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; 
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
    text-align: center;
}