{
  "extends": [
    "react-app",
    "react-app/jest",
    "airbnb",
    "prettier"
  ],
  "plugins": [
    "react",
    "prettier"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "no-var": "error",
    "semi": "error",
    "indent": [
      "error",
      2
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "no-multi-spaces": "error",
    "space-in-parens": "error",
    "no-multiple-empty-lines": "error",
    "react/jsx-uses-react": "error",
    "prefer-const": "error",
    "no-use-before-define": "error",
    "react/jsx-uses-vars": "error",
    "import/prefer-default-export": "off",
    "react/function-component-definition": "off",
    "react/jsx-props-no-spreading": "off",
    "react/no-unescaped-entities": "off",
    "react/button-has-type": "off",
    "no-console": "off",
    "react/react-in-jsx-scope": "off",
    "arrow-body-style": "off",
    "react/self-closing-comp": "off",
    "react/jsx-max-props-per-line": [
      1,
      {
        "when": "multiline"
      }
    ]
  }
}
