@import "../../styles/global";

.popups {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(35, 37, 46, 0.3);
  z-index: 4;

  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    max-width: 1269px;
    padding: 40px 40px;
    flex-shrink: 0;
    display: flex;
    gap: 60px;
    background-color: $whiteColor;
    border-radius: 20px;
    border: 1px solid $grayLightColor;
    position: relative;
  }

  &__button {
    width: 32px;
    height: 32px;
    right: 40px;
    padding: 0;
    position: absolute;
    background-color: $whiteColor;
    border: none;
    transition: transform 0.3s ease,
    scale 0.3s ease;

    &:hover {
      transform: scale(1.2);
    }
  }
}
