@import '../../../styles/global';

.account-seller-product-add {
  display: flex;
  gap: 60px;
  justify-content: center;

  &__section {
    max-width: 927px;
    display: flex;
    flex-direction: column;
    font-family: $fontFamilyNunitoSans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    gap: 60px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    row-gap: 56px;
  }

  &__field {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }

  &__label {
    width: 202px;
    display: flex;
    align-items: center;
  }

  &__conteiner-textarea {
    display: flex;
    gap: 40px;
    width: 100%;
  }

  &__label-textarea {
    width: 202px;
  }

  &__textarea {
    box-sizing: border-box;
    max-width: 685px;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    border: 1px solid $darkColor;
    padding: 20px 20px;
    color: $grayColor;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
  }

  &__conteiner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px 85px;
  }

  &__label-counter {
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__drop-down {
    height: 48px;
    display: flex;
    justify-content: space-between;
  }

  &__control {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
  }

  &__text {
    text-align: center;
    max-width: 307px;
    color: $grayColor;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin: 0;
  }

  &__button-conteiner {
    display: flex;
    gap: 20px;
  }
}
