@import '/src/app/styles/global';

.order-form-page {
  @include flex-container;
  margin-top: 52px;
  column-gap: 60px;

  &__container {
    display: flex;
    flex-direction: column;
    row-gap: 80px;
  }

  &__detail-buttons {
  }

  &__detail-content {
  }
}
