@import '../../../../styles/global';

.order-detail-content-basket {
  @include default-font-style;
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  &__label {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  &__suppliers {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    margin: 0;
  }

  &__product {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    margin: 0;
  }

  &__price-total {
    font-family: $fontFamilyUnbounded;
    margin-top: 60px;
    font-size: 28px;
    font-weight: 500;
    line-height: 36px;
    word-break: break-all;
  }
}
