@import './../../styles/_vars.scss';
.button {
  cursor: pointer;
  font-style: $mainStyle;
  line-height: normal;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
  gap: 10px;

  &_size_xs {
    width: 88px;
    height: 54px;
    border-radius: 20px;
    font-size: 24px;
    font-weight: 600;
  }

  &_size_s {
    width: 121px;
    height: 50px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 500;
  }
  &_size_m {
    width: 172px;
    height: 38px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 400;
  }
  &_size_l {
    width: 315px;
    height: 65px;
    border-radius: 30px;
    font-size: 24px;
    font-weight: 400;
  }
  &_size_xl {
    width: 335px;
    height: 65px;
    border-radius: 30px;
    font-weight: 400;
    font-size: 24px;
  }

  &_size_xxl {
    width: 427px;
    height: 69px;
    border-radius: 30px;
    font-size: 24px;
    font-weight: 400;
  }

  &__primary {
    background-color: $lightColor;
    border: none;
    color: $darkColor;
    &_border {
      border: 1px solid $darkColor;
    }
  }

  &__secondary {
    background-color: $darkColor;
    border: none;
    color: $lightColor;
    &_border {
      border: 1px solid $lightColor;
    }
  }
}
