@import './../../styles/vars';
.button {
  cursor: pointer;
  font-style: normal;
  line-height: normal;

  &--s {
    width: 121px;
    height: 50px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 500;
  }
  &--m {
    width: 172px;
    height: 38px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 400;
  }
  &--l {
    width: 315px;
    height: 65px;
    border-radius: 30px;
    font-size: 24px;
    font-weight: 400;
  }
  &--xl {
    width: 335px;
    height: 65px;
    border-radius: 30px;
    font-weight: 400;
    font-size: 24px;
  }

  &--xxl {
    width: 427px;
    height: 69px;
    border-radius: 30px;
    font-size: 24px;
    font-weight: 400;
  }

  &--primary {
    background-color: $lightColor;
    border: none;
    color: $darkColor;
    &--border {
      border: 1px solid $darkColor;
    }
  }
  &--secondary {
    background-color: $darkColor;
    border: none;
    color: $lightColor;
    &--border {
      border: 1px solid $lightColor;
    }
  }
}
