.account-buyer-orders {
  font-family: $fontFamily;
  font-style: $fontStyle;
  font-weight: $fontWeight;
  font-size: $fontSize;
  color: $fontColor;

  display: flex;
  flex-direction: column;
  max-width: 854px;
  width: 100%;

  &__header {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    width: 100%;
  }

  &__profile-info {
    display: flex;
    align-items: center;
    max-width: 833px;
    gap: 265px;
  }

  &__control {
    display: flex;
    width: 100%;
    column-gap: 20px;
    justify-content: space-between;
  }

  &__icon-plus {
    color: white;
    width: 30px;
    height: 30px;
  }

  &__search {
    display: flex;
    box-sizing: border-box;
    border: 1px solid $blackColor;
    border-radius: 30px;
    max-width: 519px;
    width: 100%;
    height: 65px;
    align-items: center;
    padding-left: 30px;
    column-gap: 12px;
    padding-right: 30px;
  }

  &__search-input {
    font-size: 24px;
    font-weight: 500;
    border: none;
    outline-style: none;
    width: 100%;
    height: 29px;
    background-color: transparent;

  }

  &__search-button {
    background-color: transparent;
    border: none;
  }

  &__navigation{
    margin-top: 60px;
  }
}
