@import "../../../styles/global";

.arrows {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;

  &__button {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;

    &:hover {
      box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
      border-radius: 50%;
    }
  }

  &__left {
    left: 0;
    transform: rotate(-90deg);
  }

  &__right {
    right: 0;
    transform: rotate(90deg);
  }
}
