@import '/src/app/styles/global';

.arrows {
  @include flex-container(row, space-between);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  padding: 0 32px;
  box-sizing: border-box;

  &__button {
    @include reset-button;
    width: 44px;
    min-width: 44px;
    height: 44px;
    min-height: 44px;
    border: 1px solid $darkColor;
    border-radius: 50%;
    transition: transform 0.3s ease,
    box-shadow 0.3s ease;

    &:hover {
      box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
    }
  }

  &__left {
    left: 0;
    transform: rotate(-90deg);
  }

  &__right {
    right: 0;
    transform: rotate(90deg);
  }
}
