@import '/src/app/styles/global';

.scroll-up-button {
  position: fixed;
  right: 8%;
  bottom: 50px;

  &__button {
    width: 92px;
    height: 92px;
    border-radius: 50%;
    color: $whiteColor;
    background-color: $darkColor;
    border: none;
    cursor: pointer;
    padding: 0;
    display: none;

    transition:
      transform 0.3s ease,
      scale 0.3s ease;

    &.visible {
      @include flex-container(row, center, center);
    }

    &:hover {
      background-color: $blueDarkColor;
    }
  }
}
