.basket {
  font-family: $fontFamily;
  font-style: normal;
  font-weight: 400;
  margin-top: 60px;

  &__header {
    display: flex;
    column-gap: 20px;
    align-items: center;
  }

  &__title {
    margin: 0;
    font-size: 40px;
    font-weight: 600;
  }

  &__title-product-count {
    margin: 0;
  }

  &__main {
    display: flex;
    flex-direction: column;
  }

  &__panel-checkbox {
    display: flex;
    align-items: center;
  }

  &__panel {
    box-sizing: border-box;
    border: 1px solid $blackColor;
    border-radius: 20px;
    height: 73px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    padding: 0 89px 0 30px;
  }

  &__panel-button {
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    column-gap: 20px;
    transition: opacity linear .5s;

    &:hover {
      opacity: .7;
    }
  }

  &__panel-checkbox {
    display: flex;
    gap: 20px;
  }


  &__checkbox-text {
    font-size: 20px;
  }

  &__container {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    column-gap: 20px;
    position: relative;
  }

  &__product-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    flex-shrink: 0;
    max-width: 873px;
  }

  &__order-item {
    display: flex;
    flex-shrink: 0;
  }

  &__product {
  }


  &__order-detail-container {
    position: relative;
    width: 100%;
    max-width: 427px;

  }

  &__order-detail-sticky {
    position: sticky;
  }

  &__checkbox {
    display: flex;
    flex-direction: row;
    column-gap: 20px
  }
}
