.popup-catalog {
  max-width: 1269px;
  max-height: 930px;
  padding: 60px 55px 124px 60px;
  flex-shrink: 0;
  position: absolute;
  display: flex;
  gap: 100px;
  z-index: 3;
  top: 82px;
  left: 0;
  background: $whiteColor;
  border-radius: 20px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
}
