@import '/src/app/styles/global';

.portal-rules-page {
  @include default-font-styles;
  max-width: 1300px;
  padding: 52px 0 120px;

  &__title {
    @include h2-styles;
    margin: 0 0 40px;
  }

  &__subtitle {
    @include text-L-bold-styles;
    margin: 0;
  }

  &__desc {
    @include text-L-main-styles;
    margin: 0 0 20px;
  }

  &__text {
    @include text-L-regular-styles;
    margin: 0 0 20px;
  }
}
