@import "../../../styles/global.scss";

.order-form-receiving-product {
  display: flex;
  flex-direction: column;

  &__title {
    @include reset;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;

  }

  &__tab-navigation {
    margin-top: 40px;
  }
}
