@import '/src/app/styles/global';

%flex-col-center {
  @include flex-container(column, center, center);
}

.order-item {
  @include default-font-styles;
  @include text-M-main-styles($blackColor);
  @include flex-container(row, space-between, center);
  @include border-radius;
  padding: 20px;
  column-gap: 32px;

  &__date-order {
    @extend %flex-col-center;
    row-gap: 10px;
  }

  &__order-number {
    color: $blueDarkColor;
    //@include text-M-main-styles($blueDarkColor);
  }

  &__company-info {
    @extend %flex-col-center;
    row-gap: 4px;
  }

  &__company-logo {
    width: 40px;
    height: 40px;
  }

  &__delivery-address {
    @extend %flex-col-center;
    max-width: 246px;
    row-gap: 16px;
  }

  &__status {
    //@include text-L-main-styles($blackColor);
    @include flex-container(row, center, center);
  }
}
