@import '../../styles/vars';

%tpbutton {
	padding: 0;
	background-color: transparent;
	border: none;
	box-sizing: border-box;
}

@mixin marginTop($top) {
	margin: $top 0 0;
}

@mixin text($weight, $lh, $fz) {
	font-weight: $weight;
	line-height: $lh;
	letter-spacing: 0;
	color: $lightColor;
	font-size: $fz;
}

.auth {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	inset: 0;
	z-index: 200;

	// удалить -------------------------------<
	background-color: #000000a6;

	visibility: hidden;
	opacity: 0;
	transition: opacity .4s, visibility .4s ease;

	// общие стили текста для попапа
	color: $lightColor;
	font-family: $fontFamily;
	text-align: center;

	&_opened {
		visibility: visible;
		opacity: 1;
	}

	.popup {
		position: relative;
		max-width: 1320px;
		width: 100%;
		background-color: #000;
		border-radius: 150px;
		box-sizing: border-box;
		display: flex;
		align-items: center;
		flex-direction: column;
		padding-bottom: 130px;

		&__close {
			position: absolute;
			top: 90px;
			right: 90px;
			@extend %tpbutton;

			&-icon {
				box-sizing: border-box;
				width: 19px;
				height: 19px;
			}
		}

		&__container,
		&__form {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: inherit;

			&_complete-register {
				max-width: 852px;
			}
		}

		&__form {
			gap: 40px 0;
			max-width: 968px;
		}

		&__title {
			@include marginTop(130px);
			@include text(500, 61px, 50px);
			width: fit-content;

			&_complete-register {
				@include text(500, 48px, 40px);
			}
		}

		&__subtitle {
			@include marginTop(70px);
			@include text(500, 36px, 30px);
			max-width: 650px;
		}

		&__socials {
			@include marginTop(70px);
			display: flex;
			gap: 0 15px;
		}

		&__social,
		&__button {
			@extend %tpbutton;
		}

		&__buttons {
			@include marginTop(40px);
			gap: 0 20px;

			&_form {
				@include marginTop(30px);
			}
		}

		&__buttons,
		&__inputs {
			display: flex;
			gap: 0 15px;
			max-width: 968px;
		}

		&__next {
			@extend %tpbutton;
			@include marginTop(30px);
		}

		&__steper {
			display: flex;
			gap: 10px;
			width: 56px;
			height: 12px;
			@include marginTop(70px);
		}

		&__step {
			border: 1px solid $lightColor;
			width: 12px;
			height: 12px;
			border-radius: 50%;
			box-sizing: border-box;
			transition: background-color .3s ease;

			&_active {
				background-color: $lightColor;
			}
		}

		&__label {
			min-width: 305px;
			min-height: 37px;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 0 20px;
			cursor: pointer;
		}

		&__info {
			position: absolute;
		}

		&__terms {
			padding: 30px 0;
		}

		&__link {
			@include marginTop(10px);
			display: inline-block;
			font-size: 25px;
			font-weight: 400;
			line-height: 30px;
			letter-spacing: 0;
			color: $inactiveColor;
			text-decoration-line: underline;
			text-underline-offset: 5px;
		}

		&__checkbox {
			position: relative;
			background: transparent;
			width: 27px;
			height: 27px;
			margin: 5px;
			cursor: pointer;

			&::after,
			&::before {
				position: absolute;
				content: '';
				width: 37px;
				height: 37px;
				border-radius: 50%;
			}

			&::before {
				inset: -5px;
			}

			&::before,
			&::after {
				background-color: $lightColor;
			}

			&::after {
				width: 27px;
				height: 27px;
				inset: 0;
				transition: background-color .3s ease;
			}

			&:checked::after {
				background-color: #4285f4;
			}

			&-span {
				@include text(400, 29px, 24px);
			}
		}

		&__regiter-opportunities {
			list-style-type: none;
			display: flex;
			flex-direction: column;
			gap: 40px 0;
			@include marginTop(70px);
		}

		&__regiter-opportunity {
			display: flex;
			gap: 0 41px;

			&>p {
				@include text(500, 36px, 30px);
				@include marginTop(0);
				text-align: left;
			}
		}
	}
}