@import '../../styles/vars';
$inactiveColor: #A3A3A3;

%tpbutton {
	padding: 0;
	background-color: transparent;
	border: none;
	box-sizing: border-box;
}

@mixin marginTop($top) {
	margin: $top 0 0;
}

@mixin text($weight, $lh, $fz) {
	font-weight: $weight;
	line-height: $lh;
	letter-spacing: 0;
	color: $darkColor;
	font-size: $fz;
}

.auth {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	inset: 0;
	z-index: 200;

	// удалить -------------------------------<
	background-color: #000000a6;

	visibility: hidden;
	opacity: 0;
	transition: opacity .4s, visibility .4s ease;

	// общие стили текста для попапа
	color: $whiteColor;
	font-family: $fontFamilyNunitoSans;
	text-align: center;

	&_opened {
		visibility: visible;
		opacity: 1;
	}

	.popup {
		position: relative;
		max-width: 568px;
		width: 100%;
		background-color: $whiteColor;
		border-radius: 30px;
		box-sizing: border-box;
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 32px;

		&__top-conainer {
			height: 32px;
			width: 100%;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;

			&_with_content {
				margin-bottom: 40px;
			}
		}

		&__close {
			position: absolute;
			top: 0;
			right: 0;
			@extend %tpbutton;

			&-icon {
				box-sizing: border-box;
				width: 19px;
				height: 19px;
			}
		}

		&__container,
		&__form {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 40px 0;

		}

		&__title {
			@include marginTop(0);
			@include text(600, 28px, 24px);
			width: fit-content;
			margin-inline: auto;
		}

		&__subtitle {
			@include marginTop(24px);
			@include text(600, 24px, 16px);
			max-width: 398px;
		}

		&__socials {
			display: flex;
			gap: 0 15px;
		}

		&__social,
		&__button {
			@extend %tpbutton;
		}

		&__buttons {
			gap: 0 20px;
		}

		&__buttons,
		&__inputs {
			display: flex;
			gap: 0 26px;
		}

		&__next {
			@extend %tpbutton;
			@include marginTop(30px);
		}

		&__label {
			min-width: 305px;
			min-height: 32px;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 0 20px;
			cursor: pointer;
		}

		&__info {
			position: absolute;
		}

		&__underlined-text {
			@include marginTop(10px);
			@include text(600, 28px, 20px);
			display: inline-block;
			color: $grayColor;
			text-decoration-line: underline;

			&_type_resend {
				color: $whiteColor;
			}
		}

		&__checkbox {
			position: relative;
			background: transparent;
			width: 18px;
			height: 18px;
			margin: 3px;
			cursor: pointer;

			&::after,
			&::before {
				position: absolute;
				content: '';
				width: 24px;
				height: 24px;
				background-color: $whiteColor;
				box-sizing: border-box;
				inset: -3px;
			}

			&::after {
				border: $darkColor 1px solid;
				width: 24px;
				height: 24px;
				border-radius: 50%;
				// inset: 0;
				transition: background-color .3s ease;
			}

			&:checked::after {
				background-color: #4285f4;
			}

			&-span {
				@include text(600, 28px, 20px);
			}
		}

		&__regiter-opportunities {
			list-style-type: none;
			padding: 0;
			display: flex;
			flex-direction: column;
			gap: 16px 0;
			@include marginTop(0);
		}

		&__regiter-opportunity {
			display: flex;
			gap: 0 20px;

		}

		&__complete-paragraph {
			@include text(600, 24px, 16px);
			@include marginTop(0);
			text-align: left;
			max-width: 348px;
	

			&_login {
				@include marginTop(70px);
				margin-bottom: 141px;
				text-align: center;

				&>span {
					font-weight: 700;
				}
			}
		}

		&__pin {
			display: flex;
			gap: 0 20px;
		}

		&__digit {
			@include text(500, 48px, 40px);
			box-sizing: border-box;
			text-align: center;

			width: 65px;
			height: 73px;
			background-color: $whiteColor;
			border-radius: 20px;
			color: $darkColor;
		}
	}
}