.product-card-basket {
  font-family: $fontFamilyNunitoSans;
  font-style: $fontStyle;
  font-weight: $fontWeight;
  font-size: 16px;
  color: $fontColor;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  box-sizing: border-box;
  border: 1px solid $grayLightColor;
  border-radius: 20px;
  padding: 20px 40px 20px 44px;
  width: 100%;
  max-height: 172px;
  &__checkbox {
    align-self: center;
    justify-content: center;
    align-content: center;
  }

  &__content {
    display: flex;
    flex-direction: row;
    column-gap: 24px;
  }

  &__image {
    display: block;
    box-sizing: border-box;
    border: 1px solid $grayLightColor;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
    width: 122px;
    height: 108px;
  }

  &__image-with-vendor-code {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    text-align: center;
    justify-content: center;
  }

  &__details {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    max-width: 447px;
  }

  &__details-header {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
  }

  &__product-title {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    margin: 0;
  }

  &__product-company {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    color: $grayColor;
    margin: 0;
  }

  &__characteristics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 4px;
  }

  &__characteristic {
    font-size: 20px;
    display: flex;
    column-gap: 20px;

    &_color {
      column-gap: 40px;
    }
  }

  &__price-count-like {
    display: flex;
    flex-direction: row;
    row-gap: 14px;
    max-width: 476px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  &__buttons {
    display: flex;
    column-gap: 20px;
    justify-content: end;
  }

  &__button {
    border: none;
    background: transparent;
    transition: opacity linear .3s;
    padding: 0;

    &:hover {
      opacity: .7;
    }
  }

  &__icon-button {
    width: 32px;
    height: 32px;
  }

  &__price-count {
    display: flex;
    align-items: center;
    max-width: 420px;
    width: 100%;
    justify-content: space-between;
  }

  &__product-count {
  }

  &__product-prices {
    display: flex;
    flex-direction: column;
    row-gap: 7px;
  }

  &__product-price {
    font-family: $fontFamilyUnbounded;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
  }

  &__product-price-per-one {
    color: $grayColor;
    line-height: 24px;
  }
}
