.product-card-basket {
  font-family: $fontFamilyNunitoSans;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: $fontColor;

  box-sizing: border-box;
  border: 1px solid $grayLightColor;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  width: 100%;
  row-gap: 4px;

  //&__buttons {
  //  display: flex;
  //  column-gap: 20px;
  //  justify-content: end;
  //}

  //&__button {
  //  border: none;
  //  background: transparent;
  //  transition: opacity linear .3s;
  //  padding: 0;
  //
  //  &:hover {
  //    opacity: .7;
  //  }
  //}

  &__icon-button {
    width: 32px;
    height: 32px;
  }

  &__checkbox {
    align-self: center;
    justify-content: center;
    align-content: center;
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    //column-gap: 32px;
    //flex-shrink: 0;
  }

  &__content {
    display: flex;
    flex-direction: row;
    column-gap: 24px;

  }

  &__image {
    display: block;
    box-sizing: border-box;
    border: 1px solid $grayLightColor;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
    width: 122px;
    height: 108px;
  }

  &__image-with-vendor-code {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    text-align: center;
    justify-content: center;
  }

  &__details {
    display: flex;
    flex-direction: column;
    //align-content: space-between;
    row-gap: 16px;
    //flex-shrink: 0;
    max-width: 447px;
  }

  &__details-header {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
  }

  &__product-title {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    margin: 0;
  }

  &__product-company {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    color: $grayColor;
    margin: 0;
  }

  &__characteristics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 4px;
  }

  &__characteristic {
    font-size: 20px;
    display: flex;
    column-gap: 20px;

    &_color {
      column-gap: 40px;
    }
  }


  &__price-count {
    display: flex;
    align-items: center;
    column-gap: 40px;
  }

  &__product-count {
    //width: 170px;
    //height: 40px;
    //align-self: center;
    //box-sizing: border-box;
    //border: 1px solid $blackColor;
  }

  &__product-price {
    font-size: 24px;
    font-weight: 600;

  }

}
