@import '../../../../styles/global';

.order-detail {
  font-family: $fontFamilyNunitoSans;
  font-style: $fontStyle;
  font-weight: $fontWeight;
  color: $fontColor;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  &__container {
    width: 100%;
    border: 1px solid $grayLightColor;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 40px;
  }

  &__header {
    display: flex;

    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    margin: 0;
  }

  &__icon-info {
    width: 32px;
    height: 32px;
    color: #222222;
  }

  &__total {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin-top: 40px;
  }

  &__total-label {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
  }

  &__total-content {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  &__total-suppliers {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    margin: 0;
  }

  &__total-product {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    margin: 0;
  }

  &__price-total {
    font-family: $fontFamilyUnbounded;
    margin-top: 60px;
    font-size: 28px;
    font-weight: 500;
    line-height: 36px;
  }

  &__buttons {
    //box-sizing: border-box;
    //padding: 32px 71px 32px 70px;
    //border: 1px solid $grayLightColor;
    //border-radius: 20px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 14px;
  }

  &__button {
    width: 100%;
  }
}
