@import '/src/app/styles/global';

.app-image {
  display: block;
  object-fit: cover;
  object-position: center;

  &_border {
    box-sizing: border-box;
    border: 1px solid $grayLightColor;
  }

  &_radius-50 {
    border-radius: 50%;
  }

  &_radius-20 {
    border-radius: 20px;
  }

  &_radius-30 {
    border-radius: 30px;
  }
}
