.promo {
  margin: 0 auto;
  display: flex;
  flex-direction: row;

  height: 360px;
  max-width: 1320px;
  width: 100%;
  margin-top: 75px;
  margin-bottom: 65px;
  &__title-block {
    display: flex;
    flex-direction: column;
    align-content: center;
    display: flex;

    max-width: 761px;
    width: 100%;
    z-index: 1;
  }

  &__title {
    max-width: 761px;
    width: 100%;
    height: 116px;
    align-self: center;
    margin-top: 45px;

    padding: 0;

    color: #000;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  &__image {
    margin-left: -165px;
    margin-top: -84px;
    width: 762px;
    height: 452px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 6px;
    max-width: 371px;
    margin-left: 28px;
    width: 100%;
    padding: 0;

    &-item {
      color: #000;
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 6px;
    }
  }
}
