.promo {
  font-family: $fontFamilyNunitoSans;
  font-style: $fontStyle;
  font-weight: $fontWeight;
  font-size: $fontSize;
  color: $fontColor;
  display: flex;
  flex-direction: row;
  height: 360px;
  max-width: 1320px;
  width: 100%;
  margin-top: 80px;

  &__title-block {
    display: flex;
    flex-direction: column;
    align-content: center;
    max-width: 761px;
    width: 100%;
    z-index: 1;
  }

  &__title {
    max-width: 761px;
    width: 100%;
    height: 116px;
    align-self: center;
    margin-top: 45px;
    padding: 0;
    color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  &__image {
    margin-left: -165px;
    margin-top: -84px;
    width: 762px;
    height: 452px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 6px;
    max-width: 371px;
    margin-left: 28px;
    width: 100%;
    padding: 0;

    &-item {
      color: #000;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 6px;
    }
  }
}
