@import '/src/app/styles/global';

.order-form-receiver {
  @include default-font-styles;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;

  &__title {
  }

  &__main {
  }

  &__fio {
  }
}
