@import '../../../styles/global.scss';

.order-form-receiver {
  @include default-font-style;
  display: flex;
  flex-direction: column;
  row-gap: 40px;

  &__header {
    @include reset;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
  }

  &__main {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
  }

  &__fio {
  }
}
