.card {
  width: 427px;
  height: 560px;
  border-radius: 20px;
  border: 1px solid $darkColor;
  font-family: $fontFamily;
  font-style: $mainStyle;
  position: relative;

  &__info {
    margin: 20px 15px 24px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__info_top {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    color: $darkColor;
    margin: 0;
    padding: 0;
  }

  &__price {
    color: $darkColor;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    margin: 0 9px 0 0;
    padding: 0;
  }

  &__description {
    margin: 0 0 20px;
    padding: 0;
    color: $grayColor;
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    height: 36px;
    max-width:382px;

    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  &__info_bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }

  &__icons {
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: space-between;
    right: 20px;
    top: 20px;
    gap: 20px;
  }

  &__shipper {
    display: flex;
    flex-direction: row;
    color: $grayColor;
    font-size: 15px;
    font-style: normal;
    line-height: normal;
    margin: 0 0 20px;
   
  }

  &__min-order {
    display: flex;
    flex-direction: row;
    color: $darkColor;
    font-size: 15px;
    font-style: normal;
    line-height: normal;
    margin: 0 0 20px;
    &_title {
      margin: 0;
      font-weight: 500;
    }
    &_quantity {
      font-weight: 400;
      margin: 0 0 0 7px;
    }
  }

  &__statistics {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    justify-content: space-between;
    align-items: center;
    max-width: 107px;
  }
}
