$maxWidth: 1440px;
$minWidth: 320px;

$mainStyle: normal;
$mainWeight: 400;
$mainFontSize: 16px;

$whiteColor: #fff;
$blackColor: #131313;
$grayColor: #686868;
$redColor: #ff4040;
$lightColor: #fff;
$darkColor: #000;
$inactiveColor: #A3A3A3;  



$fontFamily: "Inter", Arial, sans-serif; // Семейство шрифта по умолчанию
$fontColor: $blackColor; // Цвет шрифта по умолчанию
$fontSize: $mainFontSize; // Размер шрифта по умолчанию
$fontWeight: $mainWeight; // Жирность шрифта по умолчанию
$fontStyle: $mainStyle; // Начертание шрифта по умолчанию

$linkFontColor: $blackColor; // Цвет ссылок
