$maxWidth: 1672px;
$minWidth: 320px;

// slider & card
$cardWidth: 262px;
$cardHeight: 400px;
$sliderHeight: 164px;

$mainStyle: normal;
$mainWeight: 400;
$mainFontSize: 16px;

$whiteColor: #fff;
$blackColor: #000;
$blackDarkColor: #060606;
$darkColor: #23252E;
$grayColor: #7B7C82;
$grayLightColor: rgba(123, 124, 130, 0.2);
$redColor: #F76C6C;
$greenColor: #61E083;
$blueColor: #3DA1FF;
$blueLightColor: #B5DBFF;
$blueDarkColor: #116FC7;
$blueColorLine: #77ADFF;


$fontFamilyNunitoSans: "NunitoSans", Arial, sans-serif; // Семейство шрифта по умолчанию
$fontFamilyUnbounded: "Unbounded", Arial, sans-serif; // Семейство шрифта по умолчанию
$fontColor: $darkColor; // Цвет шрифта по умолчанию
$fontSize: $mainFontSize; // Размер шрифта по умолчанию
$fontWeight: $mainWeight; // Жирность шрифта по умолчанию
$fontStyle: $mainStyle; // Начертание шрифта по умолчанию

$linkFontColor: $darkColor; // Цвет ссылок
