$maxWidth: 1440px;
$minWidth: 320px;

$mainStyle: normal;
$mainWeight: 400;
$mainFontSize: 16px;

$whiteColor: #fff;
$blackColor: #131313;
$grayColor: #6f6f6f;
$redColor: #ff4040;

$fontFamily: "Inter", Arial, sans-serif; // Семейство шрифта по умолчанию
$fontColor: $whiteColor; // Цвет шрифта по умолчанию
$fontSize: $mainFontSize; // Размер шрифта по умолчанию
$fontWeight: $mainWeight; // Жирность шрифта по умолчанию
$fontStyle: $mainStyle; // Начертание шрифта по умолчанию
