/*
Миксин для анимации появления элемента
 */
@mixin fade-in {
  opacity: 0;
  transition: opacity .5s ease, visibility .4s ease;
  //animation: fadeIn 0.5s ease-in-out forwards;
}

/**
Ключевые кадры анимации для fadeIn
 */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
