@import './_vars.scss';

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin reset {
  margin: 0;
  padding: 0;
}

@mixin reset-link {
  text-decoration: none;
  color: $blackColor;
}

@mixin reset-button {
  @include reset;
  background-color: transparent;
}
