@import './_vars.scss';

@mixin default-font-style {
  font-family: $fontFamilyNunitoSans;
  font-style: $fontStyle;
  font-weight: $fontWeight;
  color: $fontColor;
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin reset {
  margin: 0;
  padding: 0;
}

@mixin reset-link {
  text-decoration: none;
  color: $blackColor;
}
