@import '../../../styles/vars';

.moderation-new-product-popup {
  font-family: $fontFamilyNunitoSans;
  font-size: 20px;
  font-style: $fontStyle;
  font-weight: 600;
  line-height: 28px;
  color: $darkColor;
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__title {
    margin: 0 0 8px;
    color: $darkColor;
  }

  &__text {
    max-width: 346px;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
  }
}
