@import '../../styles/global';

.product-characteristic {
  font-family: $fontFamilyNunitoSans;
  font-style: $fontStyle;
  font-weight: $fontWeight;
  font-size: 14px;
  color: $fontColor;
  line-height: 20px;
  display: flex;
  flex-direction: row;
  column-gap: 16px;

  &__label {
    display: flex;
    flex-direction: column;
    align-self: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
  }

  &__value {
    display: flex;
    flex-direction: column;
    align-self: center;
  }
}
