@import '/src/app/styles/global';

.order-detail {
  @include default-font-styles;
  @include flex-container(column);
  row-gap: 8px;
  @include border-radius;
  padding: 40px;

  &__container {
    @include flex-container(column);

    row-gap: 40px;
    width: 100%;
  }
}
