@import '../../../styles/vars';
.button {
  padding: 0;
  cursor: pointer;
  font-style: $mainStyle;
  font-family: $fontFamilyNunitoSans;
  line-height: normal;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;

  &_size_xs {
    width: 92px;
    height: 92px;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 500;
  }
  &_size_s {
    width: 127px;
    height: 40px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 500;
  }
  &_size_m {
    width: 203px;
    height: 65px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 600;
  }
  &_size_l {
    width: 268px;
    height: 68px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 600;
  }
  &_size_xl {
    width: 275px;
    height: 44px;
    border-radius: 20px;
    font-weight: 500;
    font-size: 20px;
  }

  &_size_xxl {
    width: 315px;
    height: 65px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 500;
  }
  &_size_xxxl {
    width: 348px;
    height: 64px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 500;
  }
  &_size_xxxxl {
    width: 427px;
    height: 69px;
    border-radius: 30px;
    font-size: 24px;
    font-weight: 500;
  }

  &_primary {
    background-color: $whiteColor;
    border: none;
    color: $blackColor;
    &_border {
      border: 1px solid $blackColor;
    }
  }

  &_secondary {
    background-color: $blackColor;
    border: none;
    color: $whiteColor;
    &_border {
      border: 1px solid $whiteColor;
    }
  }

  &_rotate {
    transform: rotate(90deg);
  }
}
