.navigation {
  padding: 90px 0;
  width: calc(100% - 120px);
  margin: 0 auto;
  font-family: $fontFamily;

  &__conteiner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 150px;
    padding: 180px 112px 175px;
    background: $blackColor;
  }

  &__title {
    width: 755px;
    margin: 0 208px 100px 0;
    color: $whiteColor;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  &__logo {
    width: 132px;
    height: 132px;
    margin-top: 110px;
  }

  &__register {
    width: 426px;
    margin: 0 20px;
    padding: 20px 0;
    border-radius: 30px;
    border: 1px solid #fff;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
  }

  &__login {
    width: 426px;
    margin: 0;
    padding: 20px 0;
    background: $blackColor;
    color: $whiteColor;
    border-radius: 30px;
    border: 1px solid #fff;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
  }
}
