@import '/src/app/styles/global';

.privacy-policy-page {
  max-width: 1300px;
  padding: 52px 0 120px;

  &__title {
    @include h2-styles;
    margin: 0 0 40px;
  }

  &__subtitle {
    @include text-L-bold-styles;
    margin: 0 0 25px;
  }

  &__text {
    @include text-L-regular-styles;
    margin: 0 0 0px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__lists {
    margin: 0;
    padding-left: 20px;
  }

  &__list {
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
