.drop-down {
  display: flex;
  gap: 44px;

  &__label {
    width: 183px;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  &__input {
    width: 626px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid #000;
    color: #686868;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

}
