@import '../../../../styles/global';

.delivery-warehouse-address {
  @include default-font-style;
  line-height: 24px;
  display: flex;
  column-gap: 16px;
  align-items: center;

  &__image {
    width: 40px;
    height: 40px;
    object-fit: cover;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid rgba(123, 124, 130, 0.2);
  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
  }

  &__dalavery-date {
    color: $blueDarkColor;
    font-size: 14px;
    line-height: 20px;
  }
}
