.question {
  display: flex;
  gap: 60px;
  font-family: $fontFamily;

  &__menu-conteiner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    row-gap: 40px;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    margin: 0 0 54px;
    font-size: 30px;
    font-style: $mainStyle;
    font-weight: 600;
    line-height: normal;
  }

  &__lists {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__paragraph {
    margin: 0 0 28px;
    font-size: 20px;
    font-style: $mainStyle;
    font-weight: 600;
    line-height: normal;
  }

  &__list {
    margin-bottom: 20px;
  }

  &__list:last-child {
    margin-bottom: 0;
  }

  &__link {
    color: $darkColor;
    font-size: 20px;
    font-style: $mainStyle;
    font-weight: $mainWeight;
    line-height: normal;
    text-decoration: none;
  }
}
