@import '/src/app/styles/global';

.about-us-page {
  @include flex-column;
  padding: 52px 0 120px;
  max-width: 1300px;
  font-family: $fontFamilyNunitoSans;
 
  &__title {
    @include h2-styles;
    margin: 0 0 40px;
  }

  &__text {
    @include text-L-regular-styles;
    margin: 0 0 32px;
  }

  &__subtitle {
    @include text-L-bold-styles;
    margin: 0 0 20px;
  }

  &__desc {
  @include text-L-main-styles;
    margin: 0 0 32px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__lists {
    @include text-L-regular-styles;
    margin: 0 0 32px;
    padding-left: 20px;
  }
}
