@import '/src/app/styles/global';

.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  & header {
    @include box-container;
  }
}

//.section {
//  @include box-section;
//}
