.menu-clothes {
  font-family: $fontFamilyNunitoSans;
  font-style: $mainStyle;
  display: flex;
  flex-direction: column;
  gap: 40px;

  &__title {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    margin: 0;
  }

  &__conteiner {
    display: grid;
    grid-template-columns: repeat(3, 233px);
    gap: 24px 40px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  &__subtitle {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    color: $blackColor;
    margin: 0;
  }

  &__link {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: $grayColor;
    text-decoration: none;

    &:hover {
      background-color: #f2f2f2;
    }
  }
}
