.account-seller-product-add {
  display: flex;
  gap: 60px;
  justify-content: center;

  &__section {
    max-width: 877px;
    display: flex;
    flex-direction: column;
    font-family: $fontFamily;
    gap: 60px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    row-gap: 56px;
  }

  &__field {
    max-width: 853px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 28px;
  }

  &__label {
    width: 188px;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  &__label2{
    width: 211px;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  &__conteiner-textarea {
    display: flex;
    gap: 44px;
  }

  &__label-textarea {
    width: 183px;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
  }

  &__textarea {
    box-sizing: border-box;
    width: 626px;
    height: 237px;
    border-radius: 20px;
    border: 1px solid $blackColor;
    padding: 18px 25px;
    color: #686868;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
  }

  &__conteiner {
    max-width: 853px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 28px;
    column-gap: 52px;
  }

  &__field-counter {
    display: flex;
    gap: 20px;
  }

  &__input-status {
    width: 203px;
    height: 65px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid $blackColor;

    padding: 18px 16px;
    color: #686868;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
  }

  &__control {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }

  &__text {
    margin: 0 auto;
    text-align: center;
    max-width: 398px;
    color: #686868;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
  }

  &__button-conteiner {
    display: flex;
    gap: 20px;
  }
}
