.characteristic-color {
  display: flex;
  column-gap: 15px;

  &__color {
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid $blackColor;
  }
}
