.characteristic-color {
  display: flex;
  column-gap: 15px;

  &__color {
    box-sizing: border-box;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 1px solid $darkColor;
  }
}
