@import '../../styles/global';

.header {
  @include flex-space-between;
  @include default-font-styles;
  color: $fontColor;
  max-width: $maxWidth;
  min-width: $minWidth;
  box-sizing: border-box;
  //margin: 0 auto;
  padding: 16px 0;
  align-items: center;
  width: 100%;
  row-gap: 20px;

  &__container-logo {
    display: grid;
    grid-template-columns: 68px auto;
    align-items: end;
    max-width: 207px;
    height: 68px;
  }

  &__logo {
    grid-row: span 2;
    text-decoration: none;
    height: 68px;
    width: 68px;
  }

  &__title {
    @include reset-link;
    height: 28px;
    font-family: $fontFamilyUnbounded;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    margin: 0;
  }

  &__location {
    height: 24px;
    display: flex;
    align-items: center;
    border: none;
    background: $whiteColor;
    padding: 0;
    color: $grayColor;

    &-text {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__container {
    @include flex-space-between;
    max-width: 1117px;
    width: 100%;
    align-items: center;
  }

  &__search {
    @include flex-space-between;
    max-width: 241px;
    width: 100%;
    height: 44px;
    border-radius: 30px;
    box-sizing: border-box;
    border: 1px solid $blackColor;
    align-items: center;
    padding: 0 10px 0 20px;
  }

  &__navigation {
    @include flex-space-between;
    max-width: 652px;
    height: 32px;
    width: 100%;
    align-items: center;

    &-link {
      @include flex-space-between;
      max-width: 188px;
      height: 32px;
      width: 100%;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 4px;
    color: $blackColor;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
  }

  &__input {
    border: none;
    padding: 0;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
  }

  &__button {
    display: flex;
    width: 32px;
    height: 32px;
    padding: 7px 7px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: $blackColor;
    background: $blackColor;
    color: $whiteColor;
    border: none;
  }

  &__catalog-button {
    width: 160px;
    height: 44px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 20px;
    padding: 0;
    cursor: pointer;
    font-family: $fontFamilyNunitoSans;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    gap: 20px;
    background-color: $darkColor;
    border: none;
    color: $whiteColor;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: $grayColor;
      border: none;
      color: $whiteColor;
    }
    &_pressed {
      background-color: $blackDarkColor;
      color: $whiteColor;
      border: none;
    }
    &:disabled {
      background-color: $grayLightColor;
      color: $grayColor;
      border: none;
      cursor: default;
    }
  }
}
