.header {
  font-family: $fontFamilyNunitoSans;
  font-style: $fontStyle;
  font-weight: $fontWeight;
  font-size: $fontSize;
  color: $fontColor;
  max-width: $maxWidth;
  min-width: $minWidth;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 20px;

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__container-logo {
    max-width: 262px;
    height: 68px;
    display: flex;
    gap: 7px;
    align-items: center;
    font-family: $fontFamilyUnbounded;
    font-size: 28px;
    font-weight: 500;
    line-height: 36px;
    color: $blackColor;
    text-decoration: none;
  }

  &__search {
    max-width: 762px;
    width: 100%;
    height: 44px;
    border-radius: 30px;
    box-sizing: border-box;
    border: 1px solid $blackColor;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 20px;
  }

  &__input {
    width: 80%;
    border: none;
    padding: 0;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
  }

  &__button {
    display: flex;
    width: 32px;
    height: 32px;
    padding: 7px 7px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: $blackColor;
  }

  &__button-icon {
    width: 24px;
    height: 24px;
    color: $whiteColor;
  }

  &__location {
    max-width: 262px;
    height: 32px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    background: $whiteColor;
    padding: 0;

    &-text {
      font-weight: 700;
      line-height: 24px;
    }
  }
}
