.header {
  font-family: $fontFamily;
  font-style: $fontStyle;
  font-weight: $fontWeight;
  font-size: $fontSize;
  color: $fontColor;
  width: 1440px;
  margin: 0 auto;
  margin-bottom: 13px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  &__info {
    width: 1440px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    vertical-align: middle;
    text-align: center;
  }

  &__number {
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-style: none;
    background-color: black;
    margin-top: 0px;
    margin-right: 61px;
    color: #fff;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    align-content: center;
    align-items: center;

    &-img {
    }
    &-text {
    }

    &-image {
      margin-right: 10px;
    }
  }

  &__location {
    background-color: white;
    padding: 0;
    max-width: 195px;
    width: 100%;
    max-height: 20px;
    display: flex;
    flex-direction: row;
    border-style: none;
    align-self: center;
    margin-bottom: 7px;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }

    &-icon {
      height: 24px;
      width: 24px;
      margin-right: 13px;
      color: white;
    }

    &-text {
      text-align: center;
      align-content: center;
      max-width: 155px;
      font-size: 18px;

      color: #000;
      font-family: Inter;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }

  &__main {
    max-width: 1440px;
    width: calc(100% - 120px);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    column-gap: 80px;
  }

  &__container-logo {
    height: 80px;
    display: flex;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-content: center;
  }

  &__search {
    margin-top: 6px;
    max-width: 762px;
    width: 100%;
    height: 60px;
    border-radius: 30px;
    border: 1px solid #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &-input {
      max-width: 530px;
      width: 100%;
      height: 19px;
      text-align: left;
      align-self: center;
      margin-left: 10px;
    }

    &-textarea {
      background: none;
      text-align: left;
      border: 2px solid black;
      padding: 20px;
      width: 490px;
      height: 400px;
      outline: none;
      color: black;
      border-radius: 60px;
      transition: 0.5s;
    }

    &-button {
      max-width: 127px;
      width: 100%;
      height: 40px;
      border-radius: 20px;
      background: #000;
      align-self: center;

      padding: 0;
      margin-right: 12px;

      color: #fff;
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      cursor: pointer;
    }
  }
}
