@import '/src/app/styles/global';

.orders-dashboard-page {
  @include flex-container(column);
  row-gap: 40px;

  &__main {
  }

  &__search-form {
    @include flex-container;
    @include border-radius(30px, $darkColor);
    width: 100%;
    align-items: center;
    padding-left: 30px;
    column-gap: 12px;
    padding-right: 30px;
    height: 44px;

    &_disabled {
      border-color: $grayLightColor;
    }
  }

  &__search-button {
    background-color: transparent;
    border: none;
  }

  &__button-load-more {
    align-self: center;
  }
}
