.account-buyer-profile {
  display: flex;
  gap: 60px;
  font-family: $fontFamily;

  &__blok {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
  }

  &__conteiner {
    display: flex;
    align-items: center;
    max-width: 833px;
    gap: 265px;
  }

  &__title {
    display: flex;
    gap: 20px;
    margin: 0;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  &__form {
    display: flex;
    flex-direction: column;
    max-width: 610px;
    gap: 52px;
  }

  &__control {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__field {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
