.footer {
  background: $darkColor;
  color: $whiteColor;
  font-family: $fontFamilyNunitoSans;
  font-style: $mainStyle;
  padding: 86px 265px 50px 124px;

  &__container {
    margin: 0 auto;
    max-width: $maxWidth;
    min-width: $minWidth;
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  &__container-logo {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    width: 100%;
  }

  &__logo-title {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    column-gap: 10px;
    font-family: $fontFamilyUnbounded;
    font-size: 28px;
    font-weight: 500;
    line-height: 36px;
    margin: 0;
  }

  &__logo {
    width: 60px;
    height: 60px;
  }

  &__title {
    margin: 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
  }

  &__container-links {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  &__link {
    margin: 0;
    color: $whiteColor;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__lists {
    width: 262px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin: 0;
    list-style-type: none;
    padding: 0;
  }

  &__item {
    margin-bottom: 15px;
    font-size: 24px;
    line-height: normal;
    font-style: $mainStyle;
    font-weight: $mainWeight;
  }

  &__link {
    text-decoration: none;
    color: $whiteColor;
  }

  &__item {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    margin: 0;
  }

  &__icon-links {
    display: flex;
    gap: 15px;
  }

  &__icon-link {
    text-decoration: none;
    color: inherit;
  }
}
