.menu-bar {
  width: 222px;
  font-family: $fontFamilyNunitoSans;
  font-style: $mainStyle;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  &__item {
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $grayColor;

    &:hover {
      background-color: #f2f2f2;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 16px;
    text-decoration: none;
    color: $grayColor;
  }

  &__icons {
    display: flex;
    align-items: center;
  }

  &__icon {
    transform: rotate(-90deg);
    flex-shrink: 0;
  }
}
