@import '../../../styles/global.scss';

.question-page {
  @include flex-column;
  row-gap: 40px;
  font-family: $fontFamilyNunitoSans;
  font-style: $mainStyle;
  padding: 52px 0 120px;

  &__title {
    display: flex;
    margin: 0;
    font-family: $fontFamilyUnbounded;
    font-size: 28px;
    font-weight: 500;
    line-height: 44px;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px 160px;
  }

  &__lists {
    @include flex-column;
    @include reset-list;
    max-width: 403px;
    gap: 20px;
  }

  &__list.hidden {
    display: none;
  }

  &__paragraph {
    margin: 0 0 12px;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
  }

  &__link {
    color: $blueDarkColor;
    font-size: 20px;
    font-weight: $mainWeight;
    line-height: 28px;
    text-decoration: none;

    &:hover {
      color: $blackColor;
    }
  }

  &__button-more {
    @include reset-button;
    display: flex;
    gap: 8px;
    align-items: center;
    border: none;
    height: 28px;
    color: $blackColor;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
  }

  &__icon {
    transform: rotate(180deg);
  }
}
