@import '/src/app/styles/global';

.question-page {
  @include flex-column;
  row-gap: 40px;
  font-family: $fontFamilyNunitoSans;
  font-style: $mainStyle;
  padding: 52px 0 120px;

  &__title {
    display: flex;
    margin: 0;
    @include h2-styles;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px 160px;
  }

  &__lists {
    @include flex-column;
    @include reset-list;
    max-width: 403px;
    gap: 20px;
  }

  &__list.hidden {
    display: none;
  }

  &__paragraph {
    @include text-L-link-styles;
    margin: 0 0 12px;
  }

  &__link {
    @include text-L-regular-styles;
    color: $blueDarkColor;
    text-decoration: none;

    &:hover {
      color: $blackColor;
    }
  }

  &__button-more {
    @include reset-button;
    @include text-L-link-styles;
    display: flex;
    gap: 8px;
    align-items: center;
    border: none;
    height: 28px;
  }

  &__icon {
    transform: rotate(180deg);
  }
}
