.promo-registration {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  font-family: $fontFamily;

  &__conteiner {
    display: flex;
    flex-shrink: 0;
    max-width: 1096px;
    max-height: 420px;
    box-sizing: border-box;
    border: 1px solid #000;
    border-radius: 150px;
    padding: 60px 111px;
  }

  &__title {
    margin: 0 0 40px;
    font-size: 40px;
    font-style: $mainStyle;
    font-weight: 600;
    line-height: 120%;
  }

  &__text {
    max-width: 536px;
    margin: 0 0 40px;
    font-size: 28px;
    font-style: $mainStyle;
    font-weight: $mainWeight;
    line-height: 36px;
  }

  &__logo {
    width: 132px;
    height: 132px;
    margin-top: 80px;
    margin-left: 83px;
  }

  &__button {
    display: flex;
    gap: 10px;
  }
}
