.account-title {
  display: flex;
  font-family: $fontFamilyNunitoSans;
  font-style: $mainStyle;

  &__container-logo {
    width: 92px;
    height: 92px;
    border-radius: 50%;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $darkColor;
    background-image: url("../../../../images/editAvatar.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  &__logo {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  &__logo:hover {
    cursor: pointer;
    opacity: .2;
  }

  &__container {
    display: flex;
    flex-direction: column;
    margin-right: 60px;
    justify-content: center;
  }

  &__container-description {
    margin: 0 0 4px 0;
    font-size: 20px;
    font-weight: 600;
    line-height: 36px;
    font-family: $fontFamilyUnbounded;
  }

  &__container-text {
    color: $grayColor;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin: 0;
    padding: 0;
  }

  /* &__button {
    max-width: 156px;
    width: 100%;
    border: none;
    padding: 0;
    background: $whiteColor;
    color: $blueColor;
    margin-top: 18px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    display: grid;
    justify-self: center;
    cursor:pointer;
  } */
}