.account-title {
  display: flex;
  font-family: $fontFamilyNunitoSans;
  gap: 76px;

  &__conteiner {
    display: flex;
    gap: 20px;
  }

  &__conteiner-logo {
    width: 92px;
    height: 92px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $darkColor;
  }

  &__logo {
    width: 20px;
    height: 20px;
  }

  &__about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
  }

  &__description {
    margin: 0;
    font-size: 30px;
    font-style: $mainStyle;
    font-weight: 500;
    line-height: normal;
  }

  &__text {
    display: flex;
    max-width: 129px;
    height: 34px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: $darkColor;
    color: $whiteColor;
    font-size: 18px;
    font-style: $mainStyle;
    font-weight: $mainWeight;
    line-height: normal;
    margin: 0;
  }

  &__button {
    border: none;
    padding: 0;
    background: $whiteColor;
  }
}
