.tooltip {
  position: relative;
  overflow: hidden;

  &:hover {
    overflow: visible;
  }

  //&:hover &__content {
  //  opacity: 1;
  //}

  &__content {
    background: black;
    box-shadow: 0 5px 25px 5px rgba(205, 210, 214, 0.8);
    box-sizing: border-box;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    max-width: 192px;
    min-width: 192px;
    width: 100%;
    padding: 13px;
    position: absolute;
    border-radius: 10px;
    //opacity: 0;
    //transition: all 0.3s ease;


    &::after {
      background: black;
      content: "";
      height: 10px;
      position: absolute;
      transform: rotate(45deg);
      width: 10px;
    }

    &_top {
      bottom: calc(100% + 1em);
      left: 50%;
      transform: translateX(-50%);

      &::after {
        bottom: -5px;
        left: 50%;
        margin-left: -5px;
      }
    }

    &_bottom {
      top: calc(100% + 1em);
      left: 50%;
      transform: translateX(-50%);

      &::after {
        top: -5px;
        left: 50%;
        margin-left: -5px;
      }
    }


    &_right {
      left: calc(100% + 1em);
      top: 50%;
      transform: translateY(-50%);

      &::after {
        left: -5px;
        margin-top: -5px;
        top: 50%;
      }
    }


    &_left {
      right: calc(100% + 1em);
      top: 50%;
      transform: translateY(-50%);

      &::after {
        right: -5px;
        margin-top: -5px;
        top: 50%;
      }
    }
  }
}
