.comments-count {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  justify-content: space-between;
  align-items: center;
  max-width: 53px;
  max-height: 24px;
  color: $darkColor;

  &__text {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
