.account-page {
  display: flex;
  flex-direction: row;
  column-gap: 60px;
  max-width: $maxWidth;
  min-width: $minWidth;
  //padding: 0 124px;
  //margin: 60px auto 160px;
  margin: 60px 0 0;
  width: 100%;

  &__icon {
    padding: 0 6px;
  }
}
