@import '/src/app/styles/global';

.account-tab-navigation {
  display: flex;
  column-gap: 60px;
  @include reset-list;

  &__link {
    text-decoration: none;
    @include text-L-bold-styles;

    &_active {
      text-decoration: underline;
    }
  }
}
