@import '/src/app/styles/global';

.account-tab-navigation {
  display: flex;
  column-gap: 50px;
  list-style: none;
  margin: 0;
  padding: 0;

  &__link {
    text-decoration: none;
    color: $fontColor;

    &_active {
      text-decoration: underline;
    }
  }
}
