@import '../../../../styles/global';

.accountpaymentinfo {
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-family: $fontFamilyNunitoSans;
  color: $blackColor;

  &__title {
    margin: 0;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    color: $blackColor;
  }

  &__list {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
  }

  &__item {
    max-width: 240px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid $blackColor;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: $whiteColor;
  }

  &__item-main {
    background-color: $blueColor;
    border: none;
  }

  &__item-container {
    max-width: 208px;
    width: 100%;
    padding: 16px;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__checkbox-zone {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo-block {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #7b7c8233;
    display: grid;
    align-items: center;
    justify-items: center;
  }

  &__logo-block-main {
    border: 1px solid #7b7c8233;
    background-color: $whiteColor;
  }

  &__logo {
    width: 29px;
    height: 29px;
  }

  &__checkbox {
    width: 24px;
    height: 24px;
    margin: 0;
    border-radius: 50%;
    border: 1.5px solid $blackColor;
    outline: none;
    appearance: none;
    cursor: pointer;
  }

  &__checkbox-main {
    background-image: url('../../../../images/round_ligth.svg');
    background-repeat: no-repeat;
    background-position: center;
    border: 1.5px solid $whiteColor;
  }

  &__checkbox:checked {
    background-repeat: no-repeat;
    background-position: center;
  }

  &__number-about {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__number-about-main {
    color: $whiteColor;
  }

  &__type {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
  }

  &__number-zone {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__number {
    font-size: 14px;
    line-height: 24px;
    margin: 0;
  }

  &__delete {
    width: 24px;
    height: 24px;
    padding: 0;
    background: none;
    border: none;
    display: flex;
    align-self: center;
    cursor: pointer;
  }

  &__delete-button {
    width: 24px;
    height: 24px;
  }

  &__delete-button_ligth {
    width: 24px;
    height: 24px;
    color: $whiteColor;
  }

  &__add-new {
    max-width: 40px;
    width: 100%;
    border: 1px solid $blackColor;
    border-radius: 20px;
    background: none;
  }

  &___button-add {
    width: 24px;
    height: 24px;
  }
}
