@import '/src/app/styles/global';

.button-scroll-up {
  position: fixed;
  right: 20px;
  bottom: 0;

  &__button {
    width: 92px;
    height: 92px;
    border-radius: 50%;
    color: $whiteColor;
    background-color: $darkColor;
    border: none;
    cursor: pointer;
    padding: 0;
    display: none;

    transition:
      transform 0.3s ease,
      scale 0.3s ease;

    &.visible {
      @include center-both;
    }

    &:hover {
      background-color: $blueDarkColor;
    }
  }
}
