@import '/src/app/styles/global';

.product-rating {
  display: flex;
  flex-direction: row;
  column-gap: 4px;
  margin: 4px 0;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 52px;
  max-height: 32px;
  color: $blackColor;

  &__text {
    @include default-font-styles;
    font-weight: 700;
    line-height: 24px;
    vertical-align: middle;
  }
}
